*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;}
a{
    text-decoration: none;
    color: black;
}

.header{
    font-family: "Poppins", sans-serif;
    /* width: 1225px; */
    margin: auto;
    height: 500px;
    /* width: 100%; */
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/background1.jpg);
    background-position: center;
    background-size: cover;
    position: relative; 
    border-bottom: #777;
}
.header nav{
    justify-content: space-between;
    /* width: 1350px; */
    /* margin: 0 auto; */
    display: flex;
}
nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 1vw 8vw; */
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

nav img {
    width: 100px;
    cursor: pointer;
}

.navigation{
    margin-right: 10px;
}

.navigation ul{
    display: block;

}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover,
nav .navigation ul li a.active {
    color: #FDC93B;
}

nav .navigation ul li a.blue {
    font-size: 0.8rem;
    padding: 13px 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: rgb(21, 21, 100);
    border: 1px solid #412e88;
    /* background: rgb(50, 50, 136); */
}

nav .navigation ul li a.blue:hover {
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.1);
}

#menu-btn {
    width: 30px;
    height: 30px;
    display: none;
}

#menu-btn img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#menu-close {
    display: none;
}



.text-box{
    font-family: "Poppins", sans-serif;
    width: 1225px;
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/background1.jpg); */
    top: 300px;
    color: rgb(255, 255, 255);
    position: absolute;
    /* top: 20%; */
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.text-box h1{
    font-size: 70px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(255, 255, 255);
    border: 1px solid rgb(214, 214, 214);
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.5s;
}

nav .fa{
    display: none;
}

.breadcrumb {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin: 20px;
}

.breadcrumb a {
    text-decoration: none;
    color: #1b3131;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    color: #1b3131;
    margin: 0 5px;
}

.recommend-course-banner-following-trend{
    width: 1225px;
    margin: 50px auto 0 auto;
}

.course{
    /* width: 1225px; */
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-top: 0px;
    justify-content: center;
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.coures_recommend-categories_and_states{
    text-align: left;
    font-weight: 700;
    margin-top: 20px;
    justify-content: center;
}

.row{
    font-family: "Poppins", sans-serif;
    /* margin-top: 50px; */
    display: flex;
    /* justify-content: space-between; */
}
.course-col{

    border: 0.5px solid #a7a7a7a6; /* Black border */

    background: #fff3f3;

    margin: 10px 10px;
    padding: 15px 10px;
    box-sizing: border-box;
    transition: 0.5s;

}
.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-information img{
    width: 275px;
    height: 105px;
}
.course-information-details{
    /* text-align: left; */
    /* justify-content: left; */
}
.get-enrolment {
    display: inline-block;
    background-color: red;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.course-col-body-details-information p{
    font-size: 14px;
    padding: 15px 0;
}
/* ----------------------------------------------- */

.relate-course-categories{
    width: 1225px;
    margin: auto;
}

.course-card-rating{
    display: flex;
    font-size: 10px;
    margin: 5px 0;
}
.star{
    margin-left: 5px 0 20px 0;
    color: #B4690E;
}

/*  -------- Facilities--------  */
.facilities{
    font-family: "Poppins", sans-serif;
    width: 1225px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    justify-content: space-between;
    align-items: center;
}

.relate-course-categories-banner-card{
    /* background-color: ; */
    display: block;
    display: flex;
    border-bottom: 0.5px solid #a7a7a7a6; /* Black border */
    margin: 5px;
    padding: 15px 0;
}
.relate-course-categories-banner-card img{
    width: 300px;
    height: 150px;
}
.relate-course-categories-information{
    margin-left: 50px;
        /* border: 0.5px solid #a7a7a7a6; Black border */

}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}


/* testimonials */

.Testimonials{
    width: 1225px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    text-align: left;
}
.Testimonials h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 25px;
}


.testimonial-col{
    border: 1px solid rgb(214, 214, 214);
    flex-basis: 31%;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}



.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p{
    padding: 0;
    font-size: 13px;
    margin: 10px 0;
}
.testimonial-col h3{
    font-style: 20px;
    font-weight: 500;
    /* margin: 15px; */
    text-align: left;
}
.testimonial-col .star{
    text-align: left;
    color: #f44336;
    font-size: 15px;
}

.relate-course-categories{
    font-family: "Poppins", sans-serif;
}


.listing-all-related-course{
    font-size: 25px;
    font-weight: 700;
}
.course-card-amount-of-time-of-lecture{
    color: #7e7e7e;
    display: flex;
    font-size: 13px;
    /* padding: 0 20px; */
}

.course-card-amount-of-time-of-lecture span
{
    /* margin-top: 5px; */
    padding: 0 10px 0 0;

}
/* .course-card-total-lectures-time{
    margin: 0 10px;
} */
.relate-course-categories-price-tag{
    margin-top: 25px;
}

.relate-course-categories-discription-headline{
    font-size: 10px;
    margin: 5px 0;
}


/*----------- Footer------------- */
.footer {
    width: 100%;
    text-align: center;
    margin-top: 30px; /* Reduce space above the footer (adjust value as needed) */
    padding-top: 0;
}

.logo {
    display: block;
    margin-top: 20px;
    margin-bottom: 25px; /* Reduce space between the logo and icons (adjust value as needed) */
    transform: scale(0.5); /* Keep logo scaled down */
}

.icons .fa {
   color: #f44336;
   margin: 0 10px; /* Adjust space between icons (reduce value for smaller gap) */ 
   padding: 10px 0; /* Reduce padding around the icons to make them closer together */
   font-size: 18px; /* Adjust font size to make the icons smaller */
}


footer {
    
    margin-top: 8vw;
    padding: 5vw;
    background-color: #101C32;
    /* background-color: #002347; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 1rem; */
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

.footer-col {
    padding-bottom: 40px;
}

.footer-col h3 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}

.footer-col li {
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer-col li:hover {
    color: rgb(241, 240, 245);
}

footer p {
    color: #7b838a;
}

footer .subscribe {
    margin-top: 20px;
}

footer input {
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    outline: none;
    color: #fff;
}

footer input::placeholder {
    font-size: 0.9rem;
}

footer .subscribe a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background: #fff;
    font-weight: 600;
    transition: 0.3s ease;
}

footer .subscribe a.yellow {
    text-decoration: none;
    font-size: 0.9rem;
    color: #2c2c2c;
    background: #FDC93B;
}

footer .subscribe a.yellow:hover {
    background: #f7f3e9;
    color: rgb(21, 21, 100);
}

footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p {
    color: #fff;
}

footer .pro-link {
    margin-top: 0;
}

footer .pro-link i {
    background: #5f7185;
    color: #fff;
}

footer .pro-link i:hover {
    background: #FDC93B;
    color: #2c2c2c;
}
/* footer */.cards-content{
    /* margin: 0 15px; */
    width: 400px;
    /* height: 220px; */
    margin: 15px 5px 30px 5px;
    margin-bottom: 15px;
}
.view-contents{
    display: block;
    justify-content: left;
    /* align-content: center; */
    display: flex;
}
.card-content-warp-body{
    display: block;
    /* margin: 20px; */
    justify-content: left;
    align-items: left;
    padding: 20px;
    /* border: 0 1px 1px 1px solid #ff0000; */
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    /* background-color: #ffffff; */
}
.card-content-information{
    display: block;
}
.card-content-information a{
    /* color: #55555; */
    font-weight: 300;
    line-height: 30px;
    /* padding: 2px 0 14px; */
    margin-top: 20px;
    text-transform: uppercase;
}
.cards-content img{
    width: 400px;
    height: 220px;
}
.middle-body-card-content-information{
    margin: 20px;
}
.content-field-title{
    /* line-height: 24px; */
    color: black;
    font-size: 20px;
    /* margin: 20px; */
}
.icon-monitor{
    /* margin-top: 10px; */
    font-size: 16px;
    display: flex;
    justify-content: c;
    font-weight: 300;
    /* display: block; */
}
.icon-monitor p{
    padding-left: 10px;
}
.field-name-course h2{
    font-size: 20px;
    word-wrap: break-word; 
    line-height: 10px;
    margin: 10px 0;
    /* color: #A51C30; */
}
.field-name-course h2 a{
    color: #a51c30;
    font-weight: 500;
}
.field-name-course p{
    /* line-height: 30px; */
    font-weight: 0;
    line-height: 20px;
    /* padding-bottom: 10px; */
}
.group-details-inner{
    /* justify-content: center;
    text-align-last: center; */
    display: flex;
    text-transform: uppercase;
    margin: 25px 0 0 0;
}
.group-details-inner-information{
    line-height: 24px;
    font-size: 16px;
    /* display: inline-block; */
    text-align: center;
    justify-content: center;
    /* margin-right: 25px; */
}
.top_category_card{
    width: 1225px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /* padding-top: 100px; */
    margin-top: 30px;
    text-align: left;
}
