*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;}
a{
    text-decoration: none;
}

.header{
    font-family: "Poppins", sans-serif;
    /* width: 1225px; */
    margin: auto;
    height: 500px;
    /* width: 100%; */
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/background1.jpg); */
    background-color: #293352;
    background-position: center;
    background-size: cover;
    position: relative; 
    border-bottom: #777;
}
.header nav{
    display: flex;
}
nav{
    display: flex;
    /* padding: 2% 6%; */
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    /* background-color: gray; */
}
.access-learning-courses{
    /* margin-right: 700px; */
}
.nav-links ul li a{
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    padding: 26px 12px;
    display: inline-block;
}

.nav-links-icon{
    font-size: 100px;
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5;
}

.nav-links ul li:hover::after{
    width: 100%;
}


.text-box{
    font-family: "Poppins", sans-serif;
    width: 1225px;
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/background1.jpg); */
    top: 300px;
    color: rgb(255, 255, 255);
    position: absolute;
    /* top: 20%; */
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.text-box h1{
    font-size: 70px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.text-box a{

    background-color: #A51C30;
    border-radius: 2px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(255, 255, 255);
    /* border: 1px solid rgb(214, 214, 214); */
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
}
/* .hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.5s;
} */

nav .fa{
    display: none;
}

.recommend-course-banner-following-trend{
    width: 1225px;
    margin: 50px auto 0 auto;
    /* display: flex; */
    max-width: 1350px;
}

.course-card-description-and-other-related-topic{
    /* border-bottom: 1px solid #d8d8d8; */
}
.course-image{
    
}
.course-card-information{
    border: 1px solid #d8d8d8;

    /* display: flex; */
}

.main-body-for-information-and-description-of-course{
    display: flex
}

.course-expectation-adn-description{

}
.course-information-essays{
    /* display: flex; */
}
.essays{
    padding: ;
    padding-right: 35px;
    width: 300px;
    word-wrap: break-word;
    text-align: left;
    line-height: 24px;
}
.course-information-essays-specific-information-outcome{
    display: flex;
    padding: 25px 0 25px 0;
}
.course-card-information-tag{
    padding: 18px 0;
    text-align: right;
    display: flex;
    text-align: left;
    /* margin: 0 auto; */
    border-bottom: 1px solid #d8d8d8;
    margin: 0 20px 0 20px;
}
.course-card-information-tag h3{
    width: 240px;
    font-weight: 500;
    text-transform: uppercase;
}

.course-card-information-tag span{
    justify-content: right;
    text-align: right;
    display: inline-block;
    line-height: 24px;
    color: #1e1e1e;
}
.course-expectation-adn-description-hero-btn{
    padding: 20px;
    background-color: #a51c30;
    color: white;
    border-radius: 3px;
    line-height: 16px;
    margin: 32px 8px 0 0;
    text-align: center;
    display: inline-block;
}
.field-label{
    margin: 14px 0;
    font-size: 28px;
    line-height: 39.2px;
    font-weight: 300;
    color: #1e1e1e;
}
.body-field-description-specific{
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 16px;
}
.body-field-description-specific p{
    margin: 15px 0;
}