*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;}
a{
    text-decoration: none;
}

.header{
    font-family: "Poppins", sans-serif;
    margin: auto;
    height: 500px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/background1.jpg);
    background-color: #293352;
    background-position: center;
    background-size: cover;
    position: relative; 
    border-bottom: #777;
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Chrome, Safari, Opera */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer and Edge */
}
.header nav{
    justify-content: space-between;
    display: flex;
}
nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

nav img {
    width: 100px;
    cursor: pointer;
}


.navigation{
    margin-right: 10px;
}
.navigation ul{
    display: block;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover,
nav .navigation ul li a.active {
    color: #FDC93B;
}

nav .navigation ul li a.blue {
    font-size: 0.8rem;
    padding: 13px 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: rgb(21, 21, 100);
    border: 1px solid #412e88;
}

nav .navigation ul li a.blue:hover {
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.1);
}

#menu-btn {
    width: 30px;
    height: 30px;
    display: none;
}

#menu-btn img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#menu-close {
    display: none;
}


.text-box{
    font-family: "Poppins", sans-serif;
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/background1.jpg); */
    width: 1225px;
    top: 300px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
/* For Internet Explorer and Edge */
}
.text-box h1{
    font-size: 70px;
    line-height: 80px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.text-box a{

    background-color: #A51C30;
    border-radius: 2px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
}

nav .fa{
    display: none;
}

.recommend-course-banner-following-trend{
    width: 1225px;
    margin: 50px auto 0 auto;
    max-width: 1350px;
}

.breadcrumb {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin: 20px;
}

.breadcrumb a {
    text-decoration: none;
    color: #1b3131;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    color: #1b3131;
    margin: 0 5px;
}
.course-card-information{
    border: 1px solid #d8d8d8;
}

.main-body-for-information-and-description-of-course{
    display: flex
}
.essays{
    padding: ;
    padding-right: 35px;
    width: 300px;
    word-wrap: break-word;
    text-align: left;
    line-height: 24px;
}
.course-information-essays-specific-information-outcome{
    display: flex;
    padding: 25px 0 25px 0;
}
.course-card-information-tag{
    padding: 18px 0;
    text-align: right;
    display: flex;
    text-align: left;
    border-bottom: 1px solid #d8d8d8;
    margin: 0 20px 0 20px;
}
.course-card-information-tag h3{
    width: 240px;
    font-weight: 500;
    text-transform: uppercase;
}

.course-card-information-tag span{
    justify-content: right;
    text-align: right;
    display: inline-block;
    line-height: 24px;
    color: #1e1e1e;
}
.course-expectation-adn-description-hero-btn{
    padding: 20px;
    background-color: #a51c30;
    color: white;
    border-radius: 3px;
    line-height: 16px;
    margin: 32px 8px 0 0;
    text-align: center;
    display: inline-block;
}
.field-label{
    margin: 14px 0;
    font-size: 28px;
    line-height: 39.2px;
    font-weight: 300;
    color: #1e1e1e;
}
.body-field-description-specific{
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 16px;
}
.body-field-description-specific p{
    margin: 15px 0;
}
.card-warp-lecturers{
    display: flex;
}

.course-card-instructor-lecturer{
    justify-content: center;
    margin-bottom: 60px;
}
.course-card-instructor-lecturer-field-label{
    margin: 30px 0;
    text-align: center;
    font-size: 28px;
    font-weight: 300;line-height: 40px;
}
.course-card-instructor-lecturer-information img{
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    display: block;
}
.card-warp-lecturers{

}
.course-card-instructor-lecturer-information{

}
.cours-card-personal-lecturers{
    text-align: center;
}
.lecturers-name{
    color: #a51c30;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin: 9px 0;
}
.appartment-lecturers{
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}
.button-external-link{
    text-align: center;

}
.text-content{
    color: #ffffff;
    margin-right: 32px;
    font-weight: 300;
    line-height: 50px;
    font-size: 64px;
    display: block;
}
.block-eroll{
    display: block;
    padding: 50px 0;
    background-color: #293352;
}
.block-inner{
    display: block;
    margin: 0 auto;
    width: 1230px;
    justify-content: center;
    align-content: center;
    margin-top: 48px;
}
.button-external-link a{
}
.block-title{
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 40px;
}
.view-contents{
    display: block;
    justify-content: center;
    align-content: center;
    display: flex;
}
.field-name-of-course{
    line-height: 24px;
    padding: 2px 0 14px;
}
.card-content-information{
    justify-content: center;
    text-align: center;
    display: block;
}
.card-content-information a{
    font-weight: 300;
    line-height: 30px;
    margin-top: 20px;
    text-transform: uppercase;
}
.content-field-title{
    color: black;
    font-size: 20px;
}
.icon-monitor{
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-weight: 300;
}
.icon-monitor p{
    padding-left: 10px;
}
.cards-content{
    justify-content: center;
    text-align: left;
    width: 400px;
    margin: 15px 5px 30px 5px;
    margin-bottom: 15px;
}
.middle-body-card-content-information{
    margin: 20px;
}
.field-name-course h2{
    font-size: 20px;
    word-wrap: break-word; 
    line-height: 5px;
    margin: 24px 0;
}
.field-name-course h2 a{
    color: #a51c30;
    font-weight: 500;
}

.field-name-course p{
    font-weight: 0;
    line-height: 20px;
    padding-bottom: 16px;
}
.cards-content img{
    width: 400px;
    height: 220px;
}
.card-content-warp-body{
    display: block;
    padding: 20px;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.group-details-inner{
    justify-content: space-around;
    text-align-last: center;
    display: flex;
    text-transform: uppercase;
    margin: 25px 0 0 0;
}
.group-details-inner p{
    line-height: 24px;
    font-size: 16px;
    /* display: inline-block; */
    /* margin-right: 25px; */
}

footer {
    margin-top: 8vw;
    padding: 5vw;
    background-color: #101C32;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

.footer-col {
    padding-bottom: 40px;
}

.footer-col h3 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}

.footer-col li {
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer-col li:hover {
    color: rgb(241, 240, 245);
}

footer p {
    color: #7b838a;
}

footer .subscribe {
    margin-top: 20px;
}

footer input {
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    outline: none;
    color: #fff;
}

footer input::placeholder {
    font-size: 0.9rem;
}

footer .subscribe a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background: #fff;
    font-weight: 600;
    transition: 0.3s ease;
}

footer .subscribe a.yellow {
    text-decoration: none;
    font-size: 0.9rem;
    color: #2c2c2c;
    background: #FDC93B;
}

footer .subscribe a.yellow:hover {
    background: #f7f3e9;
    color: rgb(21, 21, 100);
}

footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p {
    color: #fff;
}

footer .pro-link {
    margin-top: 0;
}

footer .pro-link i {
    background: #5f7185;
    color: #fff;
}

footer .pro-link i:hover {
    background: #FDC93B;
    color: #2c2c2c;
}
.field-items{
    text-align: justify;
}