@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

nav img {
    width: 100px;
    cursor: pointer;
}

nav .navigation {
    display: flex;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover,
nav .navigation ul li a.active {
    color: #FDC93B;
}

nav .navigation ul li a.blue {
    font-size: 0.8rem;
    padding: 13px 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: rgb(21, 21, 100);
    border: 1px solid #412e88;
    /* background: rgb(50, 50, 136); */
}

nav .navigation ul li a.blue:hover {
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.1);
}

#menu-btn {
    width: 30px;
    height: 30px;
    display: none;
}

#menu-btn img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#menu-close {
    display: none;
}



/* footer */
footer {
    margin-top: 8vw;
    padding: 8vw;
    /* background-color: #002347; */
    background-color: #101C32;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col {
    padding-bottom: 40px;
}

footer h3 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li {
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover {
    color: rgb(241, 240, 245);
}

footer p {
    color: #7b838a;
}

footer .subscribe {
    margin-top: 20px;
}

footer input {
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    outline: none;
    color: #fff;
}

footer input::placeholder {
    font-size: 0.9rem;
}

footer .subscribe a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background: #fff;
    font-weight: 600;
    transition: 0.3s ease;
}

footer .subscribe a.yellow {
    text-decoration: none;
    font-size: 0.9rem;
    color: #2c2c2c;
    background: #FDC93B;
}

footer .subscribe a.yellow:hover {
    background: #f7f3e9;
    color: rgb(21, 21, 100);
}

footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p {
    color: #fff;
}

footer .pro-link {
    margin-top: 0;
}

footer .pro-link i {
    background: #5f7185;
    color: #fff;
}

footer .pro-link i:hover {
    background: #FDC93B;
    color: #2c2c2c;
}
/* footer */


@media (max-width:769px) {
    nav {
        padding: 15px 20px;
    }
    nav img {
        width: 130px;
    }
    nav .navigation ul {
        width: 230px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -230px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: rgba( 17, 20, 104, 0.45);
        backdrop-filter: blur( 4.5px);
        -webkit-backdrop-filter: blur( 4.5px);
        border: 1px solid rgba( 255, 255, 255, 0.18);
        z-index: 99999;
        transition: 0.3s ease-in-out;
    }
    nav .navigation ul.active {
        right: 0px;
    }
    #menu-close {
        display: initial;
        font-size: 1.6rem;
        padding: 30px 0px 20px 20px;
        color: #fff;
    }
    nav .navigation ul li {
        padding: 20px 0px 20px 40px;
        margin-left: 0;
    }
    nav .navigation ul li a {
        color: #fff;
    }
    nav .navigation ul li a.blue {
        color: #fff;
        border: 1px solid #fff;
    }
    #menu-btn {
        display: initial;
    }
    #features {
        padding: 8vw 4vw 0 4vw;
    }
    footer .pro-link {
        margin-top: 15px;
    }
    /* About Section */
    #about-container {
        padding: 8vw 4vw 2vw 4vw;
    }
    #about-container .about-img {
        padding-right: 30px;
    }
    #trust .trust-images img {
        width: 50px;
        height: auto;
    }
    
    /* Contact */
    #contact {
        padding: 8vw 4vw;
    }
    #contact .getin {
        width: 250px;
    }
}

@media (max-width: 475px) {
    h1 {
        font-size: 2rem;
    }
    #registration {
        margin-top: 8vw;
        padding: 6vw 4vw 6vw 4vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #registration .reminder .time {
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }
    #registration .form {
        margin-top: 20px;
        width: 100%;
    }
    footer input {
        width: 100%;
        margin-bottom: 15px;
    }
    /* About Section */
    #about-container {
        flex-direction: column-reverse;
    }
    #about-container .about-img {
        width: 100%;
        padding-right: 0px;
    }
    #about-container .about-text {
        width: 100%;
        padding-bottom: 20px;
    }
    #trust {
        text-align: center;
        padding: 8vw 4vw 0 4vw;
    }
    #trust .trust-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    #trust .trust-images img {
        width: 60px;
        margin: 10px 15px;
        height: auto;
    }
    /* Blog Section */
    #blog-container {
        flex-direction: column;
    }
    #blog-container .blogs {
        width: 100%;
    }
    #blog-container .cate {
        width: 100%;
    }
    #blog-container .postpage {
        width: 100%;
        margin-top: 70px;
    }
    /* Course_inner */
    #course-inner .overview .course-head h2 {
        font-size: 22px;
    }
    #course-inner .overview .course-head span {
        font-size: 22px;
    }
    #course-inner .enroll {
        width: 100%;
    }
    /* contact */
    #contact {
        flex-direction: column;
        justify-content: center;
    }
    #contact .form {
        width: 100%;
        padding: 30px 20px;
    }
    #contact .form .form-row {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    #contact .form .form-row input {
        width: 100%;
    }
    #contact .getin {
        width: 100%;
        margin-bottom: 60px;
    }
}